<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <table width="960" align="center" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img id="ctl00_imgLogo" src="image/bay.jpg" style="border-width:0px;" />
                        </td>
                        <td align="right">
                            
                            For assistance call us on&nbsp;<span id="ctl00_lblTelNum">0861550555</span>
                            
                        </td>
                    </tr>
                </table>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="2" cellpadding="0">
                    <tr>
                        <td colspan="2">
                            <div class="BorderTop">
                                <h1 id="head1">BAYPORT_ARCHIVE</h1>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="inner">
                    <table width="100%" border="2" cellpadding="2" cellspacing="2">
                        <tr>
                            <td class="classMenu" valign="top">
                                <table width="95%" border="0" cellpadding="2" cellspacing="0" bgcolor="#f0f0f0">
                                    <tr>
                                        <td class="classMenuHead">
                                            Menu
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="classUpSpace">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>           
                                    <tr>
                                        <td align="right">
                                            <div class="menuA">
                                                <a href="contact-us.html" class="menuLink">Contact Us</a>
                                            </div>
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="classWhiteBackGround">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td class="classMenuHead"> 
                                            Payment Links
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                                
                                        <tr>
                                            <td align="left" class="img">
                                                <a href="https://ib.absa.co.za/ib/ib.jsp">
                                                    <img src="image/absa.jpg" target="_blank"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a class="img" href="https://www.fnb.co.za/">
                                                    <img src="image/fnb.jpg" target="_blank"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://www.standardbank.co.za/southafrica/personal/products-and-services/ways-to-bank/digital-banking/how-to-guides-online-banking">
                                                    <img src="image/standard.jpg"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://netbank.nedsecure.co.za/">
                                                    <img src="image/nedbank.jpg" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://direct.capitecbank.co.za/ibank/">
                                                    <img src="image/Capitec.jpg" /></a>
                                            </td>
                                        </tr>
                                            
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://new.easypay.co.za/Home.aspx?REDIout=1">
                                                    <img src="image/easyPay.jpg" /></a>
                                            </td>
                                        </tr>
                                             
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr> 
    </table>                                 
  </div>

</body>
</html>
