<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <table width="960" align="center" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img id="ctl00_imgLogo" src="../../image/bay.jpg" style="border-width:0px;" />
                        </td>
                        <td align="right">
                            
                            For assistance call us on&nbsp;<span id="ctl00_lblTelNum">0861550555</span>
                            
                        </td>
                    </tr>
                </table>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="2">
                            <div class="BorderTop">
                                <h1 id="head1">BAYPORT_ARCHIVE</h1>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="inner">
                    <table width="100%" border="0" cellpadding="2" cellspacing="2">
                        <tr>
                            <td class="classMenu" valign="top">
                                <table width="95%" border="0" cellpadding="2" cellspacing="0" bgcolor="#f0f0f0">
                                    <tr>
                                        <td class="classMenuHead">
                                            Menu
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="classUpSpace">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>           
                                    <tr>
                                        <td align="right">
                                            <div class="menuA">
                                                <a href="contact-us.html" class="menuLink">Contact Us</a>
                                            </div>
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="classWhiteBackGround">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td class="classMenuHead"> 
                                            Payment Links
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                                
                                        <tr>
                                            <td align="center" class="img">
                                                <a href="https://ib.absa.co.za/ib/ib.jsp">
                                                    <img src="../../image/absa.jpg" target="_blank"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a class="img" href="https://www.fnb.co.za/">
                                                    <img src="../image/fnb.jpg" target="_blank"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://www.standardbank.co.za/southafrica/personal/products-and-services/ways-to-bank/digital-banking/how-to-guides-online-banking">
                                                    <img src="../../image/standard.jpg"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://netbank.nedsecure.co.za/">
                                                    <img src="../../image/nedbank.jpg" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://direct.capitecbank.co.za/ibank/">
                                                    <img src="../image/Capitec.jpg" /></a>
                                            </td>
                                        </tr>
                                            
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://new.easypay.co.za/Home.aspx?REDIout=1">
                                                    <img src="../../image/easyPay.jpg" /></a>
                                            </td>
                                        </tr>
                                                    
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                </table>
                                        </td>
                                <form id="regForm" action="/signup" method="POST" onsubmit="myFunction()">
                                    <td valign="top">
                                        <div class="classContentBackG">
                                            <h2 id="head2">REGISTER</h2>
                                            <label for="username"style="margin-right:288px">Username<br>(Account&nbsp;Number)</label>
                                            <input type="text" name="username" required><br>
                                            <label for="name"style="margin-right:370px">Name</label>
                                            <input type="text" name="name" required><br>
                                            <label for="surname"style="margin-right:349px">Surname</label>
                                            <input type="text" name="surname" required><br>
                                            <label for="idNumber" style="margin-right:335px">ID Number</label>
                                            <input type="text" name="idNumber" required><br>
                                            <label for="telephoneNumberWork" style="margin-right:244px">Telephone Number-Work</label>
                                            <input type="text" name="telephoneNumberWork" required ><br>
                                            <label for="mobileNumber" style="margin-right:311px">Mobile Number</label>
                                            <input type="text" name="mobileNumber" required><br>
                                            <label for="email" style="margin-right:372px">Email</label>
                                            <input type="text" name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required><br>
                                            <label for="postalAddress1" style="margin-right:312px">postal Address</label>
                                            <input type="text" name="postalAddress1" required><br>
                                            <label for="postalAddress2" style="margin-right:413px"></label>
                                            <input type="text" name="postalAddress2" required><br>
                                            <label for="postalAddress3" style="margin-right:413px"></label>
                                            <input type="text" name="postalAddress3" required><br>
                                            <label for="postalCode" style="margin-right:333px">Postal Code</label>
                                            <input type="text" name="postalCode" required><br>
                                            <label for="password"style="margin-right:350px">Password</label>
                                            <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required><br>
                                            <label for="passwordR"style="margin-right:300px">Repeat Password</label>
                                            <input type="password" name="passwordR" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required><br>

                                            <input type="checkbox" name="password" required>
                                            <label>Remember me next time</label><br>
                                            
                                            <center><button type="submit" class="login" value="submit">Register</button><br>
                                            Already have Account? <a href="index.html">CLICK HERE</a></center>
                                        </div>
                                    </td>
                                </form>
                                <script>
                                    function myFunction() {
                                        var x = document.forms["myForm"]["register.html"].value;
                                        if (x == "" || x == null) {
                                            alert("Name must be filled out");
                                        }
                                        else{
                                            alert("The form was submitted");
                                        }
                                    }
                                </script>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr> 
    </table>                                 
  </div>

</body>
</html>
