<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <table width="960" align="center" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img id="ctl00_imgLogo" src="image/bay.jpg" style="border-width:0px;" />
                        </td>
                        <td align="right">
                            
                            For assistance call us on&nbsp;<span id="ctl00_lblTelNum">0861550555</span>
                            
                        </td>
                    </tr>
                </table>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="2">
                            <div class="BorderTop">
                                <h1 id="head1">BAYPORT_ARCHIVE</h1>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="inner">
                    <table width="100%" border="0" cellpadding="2" cellspacing="2">
                        <tr>
                            <td class="classMenu" valign="top">
                                <table width="95%" border="0" cellpadding="2" cellspacing="0" bgcolor="#f0f0f0">
                                    <tr>
                                        <td class="classMenuHead">
                                            Menu
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="classUpSpace">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>           
                                    <tr>
                                        <td align="right">
                                            <div class="menuA">
                                                <a href="contact-us.html" class="menuLink">Contact Us</a>
                                            </div>
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="classWhiteBackGround">
                                            <div>
                                            </div>
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td class="classMenuHead"> 
                                            Payment Links
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                                
                                        <tr>
                                            <td align="center" class="img">
                                                <a href="https://ib.absa.co.za/ib/ib.jsp">
                                                    <img src="image/absa.jpg" target="_blank"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a class="img" href="https://www.fnb.co.za/">
                                                    <img src="image/fnb.jpg" target="_blank"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://www.standardbank.co.za/southafrica/personal/products-and-services/ways-to-bank/digital-banking/how-to-guides-online-banking">
                                                    <img src="image/standard.jpg"/></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://netbank.nedsecure.co.za/">
                                                    <img src="image/nedbank.jpg" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://direct.capitecbank.co.za/ibank/">
                                                    <img src="image/Capitec.jpg" /></a>
                                            </td>
                                        </tr>
                                            
                                        <tr>
                                            <td align="center" class="classPad">
                                                <a href="https://new.easypay.co.za/Home.aspx?REDIout=1">
                                                    <img src="image/easyPay.jpg" /></a>
                                            </td>
                                        </tr>
                                                    
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                </table>
                                        </td>
                                <form name="profForm" action="##" method="post">
                                    <td valign="top">
                                        <h2 id="head2">MY PROFILE</h2>

                                        <label for="firstName" style="margin-right:334px" >First Name</label>
                                        <input type="text" name="firstName"required><br> 
                                        <label for="surname" style="margin-right:348px" >Surname</label>
                                        <input type="text" name="surname"required><br>
                                        <label for="idNumber" style="margin-right:335px">ID Number</label>
                                        <input type="text" name="idNumber" required><br>
                                        <label for="telephoneNumberHome" style="margin-right:240px">Telephone Number-Home</label>
                                        <input type="text" name="telephoneNumberHome" required><br>
                                        <label for="telephoneNumberWork" style="margin-right:244px">Telephone Number-Work</label>
                                        <input type="text" name="telephoneNumberWork" required><br>
                                        <label for="mobileNumber1" style="margin-right:301px">Mobile Number1</label>
                                        <input type="text" name="mobileNumber1" required><br>
                                        <label for="mobileNumber2" style="margin-right:301px">Mobile Number2</label>
                                        <input type="text" name="mobileNumber2" required><br>
                                        <label for="email" style="margin-right:372px">Email</label>
                                        <input type="text" name="email" required><br>
                                        <label for="postalAddress1" style="margin-right:312px">postal Address</label>
                                        <input type="text" name="postalAddress1" disabled><br>
                                        <label for="postalAddress2" style="margin-right:413px"></label>
                                        <input type="text" name="postalAddress2" disabled><br>
                                        <label for="postalAddress3" style="margin-right:413px"></label>
                                        <input type="text" name="postalAddress3" disabled><br>
                                        <label for="postalCode" style="margin-right:332px">Postal Code</label>
                                        <input type="text" name="postalCode" disabled><br>
                                        <label for="passWord" style="margin-right:347px">Password</label>
                                        <input type="text" name="passWord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br>
                                        <label for="accountNumber" style="margin-right:300px">Account Number</label>
                                        <input type="text" name="accountNumber" required><br>

                                        <label style="margin-right:210px">Would you like to receive your account via email and not post?</label>
                                        <input type="checkbox" name="e-mail" required><br>
                                        <center><button type="submit" class="sendComment">Save</button></center><br>
                                    </td>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>                                  
  </div>

</body>
</html>
